<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="Bootstrap.php">
    <testsuites>
        <testsuite name="Tests">
            <directory suffix="Test.php">../module/Acl/test/AclTest</directory>
            <directory suffix="Test.php">../module/Application/test/ApplicationTest</directory>
            <directory suffix="Test.php">../module/BusinessLogic/Books/test/BooksTest</directory>
            <directory suffix="Test.php">../module/BusinessLogic/Users/test/UsersTest</directory>
            <directory suffix="Test.php">../module/Library/test/LibraryTest</directory>
            <directory suffix="Test.php">../module/Module/Api/test/ApiTest</directory>
            <directory suffix="Test.php">../module/Module/ApiV1Library/test/ApiV1LibraryTest</directory>
            <directory suffix="Test.php">../module/Module/ApiV1LibraryBooks/test/ApiV1LibraryBooksTest</directory>
            <directory suffix="Test.php">../module/Module/Auth/test/AuthTest</directory>
            <directory suffix="Test.php">../module/Module/Library/test/LibraryTest</directory>
            <directory suffix="Test.php">../module/Module/LibraryBooks/test/LibraryBooksTest</directory>
        </testsuite>
    </testsuites>

    <filter>
        <php>
            <ini name="memory_limit" value="2048M"/>
        </php>
        <whitelist>
            <directory suffix=".php">../module/Acl</directory>
            <directory suffix=".php">../module/Application</directory>
            <directory suffix=".php">../module/BusinessLogic/Books</directory>
            <directory suffix=".php">../module/BusinessLogic/Users</directory>
            <directory suffix=".php">../module/Library</directory>
            <directory suffix=".php">../module/Module/Api</directory>
            <directory suffix=".php">../module/Module/ApiV1Library</directory>
            <directory suffix=".php">../module/Module/ApiV1LibraryBooks</directory>
            <directory suffix=".php">../module/Module/Auth</directory>
            <directory suffix=".php">../module/Module/Library</directory>
            <directory suffix=".php">../module/Module/LibraryBooks</directory>
            <exclude>
                <directory suffix=".php">../module/Acl/test</directory>
                <file>../module/Acl/autoload_classmap.php</file>
                <directory suffix=".php">../module/Application/test</directory>
                <file>../module/Application/autoload_classmap.php</file>
                <directory suffix=".php">../module/BusinessLogic/Books/test</directory>
                <file>../module/BusinessLogic/Books/autoload_classmap.php</file>
                <directory suffix=".php">../module/BusinessLogic/Users/test</directory>
                <file>../module/BusinessLogic/Users/autoload_classmap.php</file>
                <directory suffix=".php">../module/Library/test</directory>
                <file>../module/Library/autoload_classmap.php</file>
                <file>../module/Library/src/Library/Router/Http/SkippableSegment.php</file>
                <directory suffix=".php">../module/Module/Api/test</directory>
                <file>../module/Module/Api/autoload_classmap.php</file>
                <directory suffix=".php">../module/Module/ApiV1Library/test</directory>
                <file>../module/Module/ApiV1Library/autoload_classmap.php</file>
                <directory suffix=".php">../module/Module/ApiV1LibraryBooks/test</directory>
                <file>../module/Module/ApiV1LibraryBooks/autoload_classmap.php</file>
                <directory suffix=".php">../module/Module/Auth/test</directory>
                <file>../module/Module/Auth/autoload_classmap.php</file>
                <directory suffix=".php">../module/Module/Library/test</directory>
                <file>../module/Module/Library/autoload_classmap.php</file>
                <directory suffix=".php">../module/Module/LibraryBooks/test</directory>
                <file>../module/Module/LibraryBooks/autoload_classmap.php</file>
            </exclude>
        </whitelist>
    </filter>
</phpunit>