<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="Bootstrap.php">
    <testsuites>
        <testsuite name="BusinessLogic\\UsersTests">
            <directory>./UsersTest</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix='.php'>../src/</directory>
        </whitelist>
    </filter>
</phpunit>